@model IEnumerable<PIMS.Entities.PhotocopierDetails>
@{
    ViewBag.Title = "Photocopiers Over 5 Years Old";
}

<h2>Photocopiers Over 5 Years Old</h2>
<fieldset>
    <legend>Photocopiers Over 5 Years Old</legend>
    <div>
    <!--additional summary is displayed here-->
    <div><b>Total Number of Photocopiers over Five years old: </b>@Model.Count() </div>
</div>

    @using (Html.BeginForm("ExportPhotocopiersOver5YearsOld", "Reports", FormMethod.Post, new { enctype = "multipart/form-data" }))
         {
            <div>
            <input  type="submit" name="Export" id="Export" value="Export"/>
            </div>
         }

    <table class ="tftable">
        @if (Model != null)
        {
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.SerialNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Company)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateOfSupply)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EmailAddress)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LastReading)
                </th>
            </tr>
           
            foreach (var item in Model){
                if (item != null)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.SerialNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Company)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DateOfSupply)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EmailAddress)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LastReading)
                        </td>
                    </tr>
                    
                }
            }
             
        }
    </table> 


</fieldset>

<script src="~/Scripts/jquery-3.1.1.min.js"></script>
