<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @Styles.Render("~/Content/Site.css")
    @Styles.Render("~/Content/jquery.datetimepicker.css")
    @Styles.Render("~/Content/fullcalendar.css")
    @Styles.Render("~/Content/chosen.css")
    @Scripts.Render("~/bundles/multisel")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/Scripts/chosen.js")
    @Styles.Render("~/Content/bootstrap.min.css")
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.js"></script>
</head>
<body>
    <header>
        @*<div class="content-wrapper">
            <div class="center">
                <p class="site-title">Our Church </p>

            </div>

            <p class="site-title">
                <div class="float-right">
                    <section id="login">
                        @Html.Partial("_LoginPartial")
                    </section>*@
        @*<nav>
                                <ul id="menu">

                                    @if (Request.IsAuthenticated && HttpContext.Current.User.IsInRole("Parish Admin") || Request.IsAuthenticated && HttpContext.Current.User.IsInRole("Priest") || Request.IsAuthenticated && HttpContext.Current.User.IsInRole("Administrator"))
                                    {
                                        <div class="dropdown">

                                        </div>

                                        <div class="dropdown">
                                            <li>@Html.ActionLink("About", "About", "Home")</li>
                                        </div>
                                        <div class="dropdown">
                                            <li>@Html.DisplayName("Appointments")</li>
                                            <div class="dropdown-content">
                                                <ul>@Html.ActionLink("Create Appointment", "Create", "Appointments")</ul>
                                                <ul>@Html.ActionLink("Create Ceremony", "CreateCeremony", "Appointments")</ul>
                                                <ul>@Html.ActionLink("List all Appointments", "Index", "Appointments")</ul>
                                                <ul>@Html.ActionLink("List all Ceremonies", "IndexOfCeremonies", "Appointments")</ul>
                                                <ul>@Html.ActionLink("Calendar", "Calendar", "Appointments")</ul>
                                            </div>
                                        </div>

                                        <div class=" dropdown">
                                            <li>@Html.DisplayName("Administrations")</li>
                                            <div class="dropdown-content">
                                                <ul>@Html.ActionLink("Donations", "Index", "Donations")</ul>
                                                <ul>@Html.ActionLink("Invoices", "Index", "Invoices")</ul>
                                            </div>
                                        </div>

                                        <li>@Html.ActionLink("Volunteers", "Index", "Volunteers")</li>
                                        @*<li>@Html.ActionLink("Records", "Index", "Records")</li>
                                        <li>@Html.ActionLink("Roles", "UsersInLayUserRole", "Roles")</li>


                                    }
                                    else if (Request.IsAuthenticated && HttpContext.Current.User.IsInRole("Volunteer"))
                                    {
                                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                                        <li>@Html.ActionLink("About", "About", "Home")</li>
                                        <li>@Html.ActionLink("Volunteers", "VolunteerHub", "Volunteers")</li>
                                    }

                                    else
                                    {
                                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                                        <li>@Html.ActionLink("About", "About", "Home")</li>
                                        <li>@Html.ActionLink("Appointments", "Create", "Appointments")</li>
                                    }

                            </ul>
                            </nav>
                    </div>
            </div>*@

        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a href="@Url.Action("Index", "Home")" class="navbar-left">
                        <img src='@Url.Content("../../Images/logo.png")' style="width: 120px" title="title" />
                    </a>
                </div>
                <ul class="nav navbar-nav">
                    

            @if (Request.IsAuthenticated && HttpContext.Current.User.IsInRole("Parish Admin") || Request.IsAuthenticated && HttpContext.Current.User.IsInRole("Priest") || Request.IsAuthenticated && HttpContext.Current.User.IsInRole("Administrator"))
            {
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">About Us<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("View Bulletins", "Index", "Bulletins")</li>
                    </ul>
                </li>
                <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Administration<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Donations", "Index", "Donations")</li>
                            <li>@Html.ActionLink("Invoices", "Index", "Invoices")</li>
                            <li>@Html.ActionLink("Add Bulletin", "Create", "Bulletins")</li>
                            <li>@Html.ActionLink("Approve Volunteers", "UsersInLayUserRole", "Roles")</li>
                            @if (Request.IsAuthenticated && HttpContext.Current.User.IsInRole("Administrator"))
                            {
                                <li>@Html.ActionLink("Add a new Parish Admin", "AllUsers", "Roles")</li>
                            }
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Appointments<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Create Appointment", "Create", "Appointments")</li>
                            <li>@Html.ActionLink("Create Ceremony", "CreateCeremony", "Appointments")</li>
                            <li>@Html.ActionLink("List all Appointments", "Index", "Appointments")</li>
                            <li>@Html.ActionLink("List all Ceremonies", "IndexOfCeremonies", "Appointments")</li>
                            <li>@Html.ActionLink("Calendar", "Calendar", "Appointments")</li>
                        </ul>
                    </li>
                    }
                    else if(Request.IsAuthenticated && HttpContext.Current.User.IsInRole("Volunteer"))
                    {
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">About Us<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("View Bulletins", "Index", "Bulletins")</li>
                        </ul>
                    </li>
                    <li>@Html.ActionLink("Appointments", "Create", "Appointments")</li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Volunteer Hub<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Volunteer Schedule", "VolunteerHub", "Volunteers")</li>
                            <li>@Html.ActionLink("View Ceremonies", "IndexOfCeremonies", "Appointments")</li>
                        </ul>
                    </li>
                    }
                    else
                    {
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">About Us<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("View Bulletins", "Index", "Bulletins")</li>
                        </ul>
                    </li>
                        <li>@Html.ActionLink("Appointments", "Create", "Appointments")</li>
                    }

                </ul>

                <ul class="nav navbar-nav navbar-right">
                   @Html.Partial("_LoginPartial")
                </ul>
            </div>
        </nav>
    </header>
    <div id="body">
        @RenderSection("featured", required: false)
        <section class="content-wrapper main-content clear-fix">
            @RenderBody()
        </section>
    </div>
    <footer>
        <div class="content-wrapper">
            <div class="float-left">
                <p>&copy; @DateTime.Now.Year - Our Church</p>
            </div>
        </div>
    </footer>

    
    
</body>

</html>
