<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @Styles.Render("~/Content/Site.css")
    @Styles.Render("~/Content/jquery.datetimepicker.css")
    @Styles.Render("~/Content/fullcalendar.css")

    @Styles.Render("~/Content/chosen.css")
    @Scripts.Render("~/bundles/multisel")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/Scripts/chosen.js")
    @Styles.Render("~/Content/bootstrap.min.css")
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.js"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a href="@Url.Action("Index", "Home")" class="navbar-left">
                        <img src='@Url.Content("../../Images/logo.png")' style="width: 120px" title="title" />
                    </a>
                </div>
                <ul class="nav navbar-nav">
                    

            @if (Request.IsAuthenticated && HttpContext.Current.User.IsInRole("Parish Admin") || Request.IsAuthenticated && HttpContext.Current.User.IsInRole("Priest") || Request.IsAuthenticated && HttpContext.Current.User.IsInRole("Administrator"))
            {
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">About Us<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("View Bulletins", "Index", "Bulletins")</li>
                        <li>@Html.ActionLink("View our Webcam", "Webcam", "Home")</li>
                    </ul>
                </li>
                <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Administration<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Add Bulletin", "Create", "Bulletins")</li>
                            <li>@Html.ActionLink("Houses in Parish", "Index", "Houses")</li>
                            <li>@Html.ActionLink("Approve Volunteers", "UsersInLayUserRole", "Roles")</li>
                            @if (Request.IsAuthenticated && HttpContext.Current.User.IsInRole("Administrator"))
                            {
                                <li>@Html.ActionLink("Add a new Parish Admin", "AllUsers", "Roles")</li>
                            }
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Manage Volunteers<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Approve Volunteers", "UsersInLayUserRole", "Roles")</li>
                            <li>@Html.ActionLink("View Volunteers", "Index", "Volunteers")</li>
                          
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Finances<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Donations", "Index", "Donations")</li>
                            <li>@Html.ActionLink("Invoices", "Index", "Invoices")</li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Appointments<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Create Appointment", "Create", "Appointments")</li>
                            <li>@Html.ActionLink("Create Ceremony", "CreateCeremony", "Appointments")</li>
                            <li>@Html.ActionLink("List all Appointments", "Index", "Appointments")</li>
                            <li>@Html.ActionLink("List all Ceremonies", "IndexOfCeremonies", "Appointments")</li>
                            <li>@Html.ActionLink("Calendar", "Calendar", "Appointments")</li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Parish Records<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Create a new Record", "Create", "Records")</li>
                            <li>@Html.ActionLink("Baptisms", "IndexOfBaptisms", "Records")</li>
                            <li>@Html.ActionLink("Confirmations", "IndexOfConfirmations", "Records")</li>
                            <li>@Html.ActionLink("Weddings", "IndexOfWeddings", "Records")</li>
                            <li>@Html.ActionLink("Funerals", "IndexOfFunerals", "Records")</li>
                        </ul>
                    </li>
                    <li>
                     @Html.ActionLink("Change Password", "Manage", "Account")
                    </li>
            }
            else if (Request.IsAuthenticated && HttpContext.Current.User.IsInRole("Volunteer"))
            {
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">About Us<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("View Bulletins", "Index", "Bulletins")</li>
                            <li>@Html.ActionLink("View our Webcam", "Webcam", "Home")</li>
                        </ul>
                    </li>
                    <li>@Html.ActionLink("Appointments", "Create", "Appointments")</li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Volunteer Hub<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Volunteer Calendar", "VolunteerHub", "Volunteers")</li>
                            <li>@Html.ActionLink("View Upcoming Ceremonies", "ViewAvailableCeremonies", "Volunteers")</li>
                            <li>@Html.ActionLink("Volunteers' Ceremonies", "VolunteerCeremonies", "Volunteers")</li>
                        </ul>
                    </li>
                    <li>@Html.ActionLink("Change Password", "Manage", "Account")</li>
            }
            else if (Request.IsAuthenticated && HttpContext.Current.User.IsInRole("User"))
            {
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">About Us<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("View Bulletins", "Index", "Bulletins")</li>
                            <li>@Html.ActionLink("View our Webcam", "Webcam", "Home")</li>
                        </ul>
                    </li>
                        <li>@Html.ActionLink("Appointments", "Create", "Appointments")</li>
                        <li>@Html.ActionLink("Change Password", "Manage", "Account")</li>

            }
            else
            {
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">About Us<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("View Bulletins", "Index", "Bulletins")</li>
                        <li>@Html.ActionLink("View our Webcam", "Webcam", "Home")</li>
                    </ul>
                </li>
                    <li>@Html.ActionLink("Appointments", "Create", "Appointments")</li>
            }

                </ul>

                <ul class="nav navbar-nav navbar-right">
                   @Html.Partial("_LoginPartial")
                </ul>
            </div>
        </nav>
    </header>
    <div id="body">
        @RenderSection("featured", required: false)
        <section class="content-wrapper main-content clear-fix">
            @RenderBody()
        </section>
    </div>
    <footer>
        <div class="content-wrapper">
            <div class="float-left">
                <p>&copy; @DateTime.Now.Year - Our Church</p>
            </div>
        </div>
    </footer>

    
    
</body>

</html>
