<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - My ASP.NET MVC Application</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        @Styles.Render("~/Content/Site.css")
        @Styles.Render("~/Content/jquery.datetimepicker.css")
        @Scripts.Render("~/bundles/modernizr")
        @Styles.Render("~/Content/fullcalendar.css")
        @Styles.Render("~/Content/bootstrap.min.css")

        <meta charset="utf-8" />
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    </head>
<body>
    <header>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a href="@Url.Action("Index", "Home")" class="navbar-left">
                        <img src='@Url.Content("../../Images/logo.png")' style="width: 120px" title="title" />
                    </a>
                        <ul class="nav navbar-nav navbar-right">
                            @Html.Partial("_LoginPartial")
                        </ul>

                    </div>
                </div>
            </div>
        </nav>
        <div class="content-wrapper">
            <div class="float-left">
                @*                    <p class="site-title">@Html.ActionLink("your logo here", "Index", "Home")</p>*@
                <!--<a href='@Url.Action("Index", "Home")-->
                <!--</a>-->
            </div>

        </div>
    </header>

    <div id="body">
        @RenderSection("featured", required: false)
        <section class="content-wrapper main-content clear-fix">
            @RenderBody()
        </section>
    </div>
    <footer>
        <div class="content-wrapper">
            <div class="float-left">
                <p>&copy; @DateTime.Now.Year - OurChurch</p>
            </div>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    @RenderSection("Scripts", false)
</body>
</html>

