@model IEnumerable<PIMS.Entities.Record>

@{
    ViewBag.Title = "Index";
}


@using (Html.BeginForm("IndexOfWeddings", "Records", FormMethod.Get))
{ <div>
        <fieldset>
            <table style="border:none">
                <tr>
                    <td><label class="editor-label">Search Name:</label></td>
                    <td id="searchBar1">@Html.TextBox("SearchStringName")</td>
                    <td><label class="editor-label">Search By Year:</label></td>
                    <td></td>
                    <td id="searchBar2">@Html.TextBox("SearchStringYearUploaded")</td>
                    <td>
                        <input type="submit" value="Search" />

                    </td>
                </tr>
            </table>
            @if (TempData["Error"] != null)
            {
                <div style="color:red">@TempData["Error"]</div>
            }


        </fieldset>
    </div>

<h2>List of Wedding Certs</h2>

<table class="tftable">
    <tr>
        <th>
            @Html.DisplayName("Name on Record")
        </th>
        <th>
            @Html.DisplayName("Type of Record")
        </th>
        <th>
            @Html.DisplayName("Upload Date")
        </th>
        <th></th>
    </tr>

    @if (Model != null)
    {
        foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NameOnRecord)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DocumentType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UploadDate)
            </td>
            <td>
                <u>@Html.ActionLink("View Details of this Cert", "Edit", new { id = item.RecordId })</u>
            </td>
        </tr>
        }
    }

</table>
}