@model IEnumerable<PIMS.Entities.Record>

@{
    ViewBag.Title = "Index";
}

<h2>List of Records</h2>

<p>
    <u>
        @Html.ActionLink("Create New", "Create")
    </u>
</p>
<table class="tftable">
 <tr>
        <th>
            @Html.DisplayName("Name on Record")
        </th>
        <th>
            @Html.DisplayName("Type of Record")
        </th>
        <th>
            @Html.DisplayName("Upload Date")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NameOnRecord)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DocumentType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UploadDate)
            </td>
            <td>
                <u>@Html.ActionLink("Edit", "Edit", new { id = item.RecordId })</u> |
                <u>@Html.ActionLink("Details", "Details", new { id = item.RecordId })</u>
            </td>
        </tr>
    }

</table>