@model PIMS.Entities.Donation

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Donation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Church Name")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Church.Name)
        </dd>
        <dt>
            @Html.DisplayName("House Number")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HouseId)
        </dd>

        <dt>
            @Html.DisplayName("Type Of Donation")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TypeOfDonation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.DonationId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
