
<h3>Appointment Details: <br /></h3>
<h4>
    Parish Administrator : @ViewBag.Admin <br />
    Church : @ViewBag.Church <br />
    Description : @ViewBag.Details <br />
    Room : @ViewBag.Room <br />
    Date Of Appointment : @ViewBag.Date <br />
    Appointment Status : @ViewBag.Confirmed <br />
</h4>

<h3>Room Confirmation : @ViewBag.RoomType <br/></h3>

<p></p>

<h3>Applicant Details <br/></h3>
<h4>
   Name of Applicant  : @ViewBag.NameOfApplicant <br/>
   Email of Applicant : @ViewBag.Email <br/>
   Phone of Applicant : @ViewBag.PhoneNumber <br/>
</h4>

<h2><b>We will see you soon!</b></h2><br />