@model IEnumerable<PIMS.Entities.Appointments>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>List of Ceremonies</h2>
<table class="tftable">
    <tr>
        <th>
            @Html.DisplayName("Ceremony Type")
        </th>
        <th>
            @Html.DisplayName("Church Name")
        </th>
        <th>
            @Html.DisplayName("Date Of Ceremony")
        </th>
        <th>
            @Html.DisplayName("Parish Administrator")
        </th>
        <th></th>
        <th></th>
    </tr>

@foreach (var item in Model) {

    if (item.Fee != null)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DetailsOfAppointment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Church.Name)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.DateOfAppointment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Admins.AdministratorName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NameOfApplicant)
        </td>
        <td>
            <u>
                @Html.ActionLink("View Ceremony", "DetailsOfCeremony", new { id = item.AppointmentId })
            </u>
            |
            <u>@Html.ActionLink("Edit Ceremony", "EditCeremony", new { id = item.AppointmentId })</u>
        </td>
    </tr>
    }
}
</table>

