@model IEnumerable<PIMS.Entities.Appointments>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var username = User.Identity.Name;
}

<h2>List of Appointments for @username</h2>
<table class="tftable">
    <tr>
        <th>
            @Html.DisplayName("Church Name")
        </th>
        <th>
            @Html.DisplayName("Room")
        </th>
        <th>
            @Html.DisplayName("Date Of Appointment")
        </th>
        <th>
            @Html.DisplayName("Appointment Status")
        </th>
        <th>
            @Html.DisplayName("Parish Administrator")
        </th>
        <th>
            @Html.DisplayName("Name of Applicant")
        </th>
        <th></th>
        <th></th>
    </tr>

@foreach (var item in Model) {

    if (item.Fee == null)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Church.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RoomType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateOfAppointment)
        </td>
        @if (item.Confirmed == true)
        {
        <td>
            @Html.DisplayName("Appointment Confirmed")
        </td>
        }
        else if (item.Confirmed == false)
        {
            <td>
                @Html.DisplayName("Not Confirmed")
            </td>
        }
        <td>
            @Html.DisplayFor(modelItem => item.Admins.AdministratorName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NameOfApplicant)
        </td>
        <td>
            <u>
                @Html.ActionLink("Update Appointment", "Edit", new { id = item.AppointmentId })
            </u>
           
        </td>
        @if (item.Confirmed == false && item.RoomType == null)
        {
        <td>
            @*@Html.ActionLink("Confirm Appointment", "Details", new { id = item.AppointmentId })*@
            @Html.DisplayName("Need Room Confirmation")
        </td>
        }
        else if (item.RoomType != null && item.Confirmed == false)
        {
            <td>
                <u>
                    @Html.ActionLink("Confirm Appointment", "Details", new { id = item.AppointmentId })
                </u>
            </td>
        }
        else
        {
        <td>
            <u>
                @Html.ActionLink("View Appointment", "Details", new { id = item.AppointmentId })
            </u>
        </td>
        }
        
    </tr>
    }
}
</table>

