@model IEnumerable<PIMS.Entities.Appointments>

@{
    ViewBag.Title = "ViewAvailableCeremonies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Available Ceremonies</h2>

@if (TempData["Error"] != null)
{
    <div style="color:red">@TempData["Error"]</div>
}

<table class="tftable">
    <tr>
        <th>
            @Html.DisplayName("Ceremony Type")
        </th>
        <th>
            @Html.DisplayName("Church Name")
        </th>
        <th>
            @Html.DisplayName("Date Of Ceremony")
        </th>
        <th>
            @Html.DisplayName("Slots Available")
        </th>
        <th>
            @Html.DisplayName("Parish Administrator")
        </th>
        <th></th>
    </tr>


    @if(Model != null)
    {
        foreach (var item in Model)
        {

            if (item.Fee != null)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DetailsOfAppointment)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Church.Name)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.DateOfAppointment)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Slots)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Admins.AdministratorName)
                </td>
                <td>
                    <u>
                        @Html.ActionLink("Join Ceremony", "JoinCeremony", new { id = item.AppointmentId })
                    </u>
                </td>
            </tr>
            }
        }
    }
</table>

