@model PIMS.Entities.Bulletins

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Bulletins</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Admins.AdministratorName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Admins.AdministratorName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DetailsOfBulletin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DetailsOfBulletin)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.BulletinsID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
